/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

/* container */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--Violet);
  background-image: url("../img/bg-desktop.svg");
  background-size: cover;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16%;
}

header img {
  height: 10rem;
  margin-left: 15rem;
}

/* content */
#content {
  display: flex;
  height: 84%;
}

/* left-content */

#left-content {
  display: flex;
  flex: 1;
  align-items: center;
}

#left-content img {
  height: 80%;
  margin-left: 15rem;
  margin-bottom: 14rem;
}

/* right-content*/

#right-content {
  flex: 1;
  position: relative;
}

#right-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  color: white;
  width: 65%;
  margin-top: 370px;
  margin-left: 250px;
}

#right-content p {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  width: 80%;
  line-height: 6.5rem;
  padding: 50px 0;
  margin: 30px 250px;
  font-size: 4.5rem;
  color: white;
}

#right-content button {
  height: 230px;
  width: 800px;
  margin-top: 30px;
  margin-left: 250px;
  border-radius: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  color: black;
  background-color: white;
  border: none;
  box-shadow: 2px 4px 15px rgb(0 0 0 / 40%);
}

#right-content button:hover {
  color: white;
  background-color: var(--Soft-Magenta);
  cursor: pointer;
}

/* icons */

#icons-social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  width: 90%;
  bottom: 0;
}

#icons-social i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  color: white;
  font-size: 4.5rem;
  margin: 0 50px;
  border: 2px solid white;
  border-radius: 50%;
}

#icons-social i:hover {
  cursor: pointer;
  color: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}
